*{
    font-family: monospace
}
.div1{
    background:#2d545e;
}
.head1{
    font-size: 80px;
    color:#e8f9fd;
    text-align: center;
    
}
.div1 span{
    color: tomato;
    font-style: oblique;
    font-family: cursive;
}
.div1 nav{
    float: right;
    margin: 0;
    font-size: 60px;
}
.div1 nav ul li{
    list-style-type: none;
    display: inline-block;
    float: left;
    margin: 60px;
    
}
.div1 nav ul li:hover{
    color:coral;
    cursor: progress;
}
.div2{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:3%;
    width: 62%;
    background-image: url("desk-empty-fountain-pen-notebook-303532.jpg");
    height: auto;
}
form{
    display: inline-block;
    text-align: center;
    height: 1500;

    
}
form input{
    display: block;
    margin: 40px;
    border: 2px solid;
    margin-left: auto;
    tab-size: 20px;
    width: 680px;
    
}
form p{
    font-size: 70px;
    
    text-align: right;
}
form span{
    color: tomato;
    font-style: oblique;
    font-family: cursive;
}
.div3{
    background-color: #12343b;
}

.div5 p{
    font-size: 80px;
    text-align: center;
}

#span1{
    font-weight: bold;
}
#span2{
       color: tomato;
    font-style: oblique;
    font-family: cursive; 
}
.div6{
    display: block;
    text-align: center;
    float: left;
    flex: initial;
    border: 15px solid #DDD;
    width: 800px;
    height: 700px;
    margin: 40px;
    border-radius: 55px; 
    background: #12343b;
    color: azure;
    font-family: cursive;
}
.div6 h2{
    font-size: 70px;
}
.art1{
    background-color: #c89666;
    width: auto;
    height: 500px;
}
.art1 h2{
    background: #c89666;
    
 }
.div7 {
    margin:10;
    float: right;
    border-radius: 15px #12343b;
    right: 80px;
    bottom: 70px;
    position: absolute
    
}
#sp{
    margin: 120px;
    display: block;
}
.div7 img{
    cursor: progress;
    width:100px;
}
#button{
    width: 680px;
    height: 80px;
    color:#12343b;
    background:#c89666;
}
footer{
   position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    background: #c89666;
}
.div6:hover{
    border: 4px orange solid;
}
#button:hover{
    color:orangered;
}
